.text-output code::before {
	content: "> ";
	@apply text-white;
}

.text-output code:last-child::after {
	content: "_";
	animation-name: blink;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	@apply text-white;
}

.text-output code {
	@apply block text-green-400;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	32% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
