@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
}

h1,
h2 {
	@apply mb-4;
}

h1 {
	@apply text-xl;
	@apply md:text-2xl;
}

h2 {
	@apply text-lg;
	@apply md:text-xl;
}

.screen {
	@apply p-2;
	@apply md:p-5;
}

button,
button[type="submit"] {
	@apply bg-sky-700;
	@apply hover:bg-sky-800;
	@apply rounded-md;
	@apply py-2;
	@apply px-3;
}

::-webkit-scrollbar {
	width: 14px;
	background: inherit;
	background-color: inherit;
}

::-webkit-scrollbar-thumb {
	@apply border-transparent border-4 border-solid 
	bg-clip-padding bg-neutral-500 rounded-3xl;
}
